.new-element-drop-area-block {
    height: 32px;
    width: 100%;
    display: block;
}

.new-element-drop-area-inline {
    padding-left: .5em;
    padding-right: .5em;
    display: inline;
}

.new-element-drop-border {
    border: dashed 1px black;
    margin: 3px;
}

.inner-new-element-drop-area {
    background: #FF9800;
}

.outer-new-element-drop-area {
    background: #3F51B5;
}
