.new-element-drop-area-block {
    height: 32px;
    width: 100%;
    background: gray;
    display: block;
}

.new-element-drop-area-inline {
    padding-left: .5em;
    padding-right: .5em;
    background: gray;
    display: inline;
}

.new-element-drop-border {
    border: dashed 1px black;
    margin: 3px;
}
